<div class="calendar">
  <div id="calendar-header">
    <button id="leftmonth" class="calendarbtn"><i class="fas fa-caret-left"></i></button>
    <div>
      <p id="month"></p>
      <p id="year"></p>
    </div>
    <button id="rightmonth" class="calendarbtn"><i class="fas fa-caret-right"></i></button>
  </div>
  <div class="calendar__picture"></div>
  <div id="calendardays" class="calendar__date">
    <div class="calendar__day">M</div>
    <div class="calendar__day">T</div>
    <div class="calendar__day">W</div>
    <div class="calendar__day">T</div>
    <div class="calendar__day">F</div>
    <div class="calendar__day">S</div>
    <div class="calendar__day">S</div>
  </div>
</div>
<div id="calendarbox"></div>
