<!DOCTYPE html>
<html lang="fr">
  <div id="currentexo">
    <div class="imageexo">
      <img class="exopicture" src="" />
      <h1 class="exo-title"></h1>
      <p style="display: inline">Necessary number of reps :</p>
      <p class="exo-text" style="display: inline"></p>
    </div>
    <div>
      <button type="button" class="btn btn-primary">FINISHED EXERCISE</button>
      <div id="timer" class="flex-wrap d-flex justify-content-center" style="margin-top: 20px">
        <div id="seconds" class="align-items-center flex-column d-flex justify-content-center"></div>
      </div>
    </div>
  </div>
</html>
