<html>
  <div id="logbody">
    <input type="text" id="login" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Nom d'utilisateur" />
    <input type="password" id="pass" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Mot de passe" />
    <input type="password" id="passbis" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Confirmer le mot de passe" />
    <input type="text" id="nom" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Nom" />
    <input type="text" id="prenom" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Prénom" />
    <input type="text" id="email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Adresse Email" />
    <input type="text" id="birthday" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Jour" />
    <input type="text" id="birthmonth" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Mois" />
    <input type="text" id="birthyear" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Annee" />
    <button id="register" type="button" class="btn btn-primary">S'inscrire</button>
  </div>
</html>
