<!DOCTYPE html>
<html lang="fr">
  <div class="box">
    <img src="css/App/profile.png" alt="" />
    <input type="text" id="login" class="form-control" aria-label="Default" placeholder="Username" />
    <input type="password" id="pass" class="form-control" aria-label="Default" placeholder="Password" />
    <button type="submit" id="connect" class="btn btn-primary">Se connecter</button>
    <button type="submit" id="regred" class="btn btn-primary"><a href="#log">S'enregistrer </a></button>
  </div>
</html>
