<!DOCTYPE html>
<html lang="fr">
  <div class="wrappermessage">
    <section class="users">
      <header>
        <button onclick='window.location.hash = "#Matchmaking"' id="choosemap" type="button" class="btn btn-primary">Sélectionne ta salle de sport</button>
        <div class="radiowrapper">
          <input type="radio" class="messengerbutton" name="select" id="option-1" />
          <input type="radio" class="messengerbutton" name="select" id="option-2" />
          <label for="option-1" class="option option-1">
            <span>Mes contacts</span>
          </label>
          <label for="option-2" class="option option-2">
            <span>Dans la même salle</span>
          </label>
        </div>
        <div class="content">
          <div class="details">
            <div id="mylogin"></div>
          </div>
        </div>
      </header>
      <div id="chatusers"></div>
    </section>
  </div>
</html>
