<html lang="fr">
  <div id="chat" class="wrappermessage">
    <header>
      <a href="#messenger"><i style="margin: 10px" class="fas fa-arrow-left"></i></a>
    </header>
    <div id="messaging" class="chat-box">
      <div id="chatinner"></div>
    </div>
    <div class="typing-area">
      <input id="sendinput" type="text" placeholder="Ecrire un message ici..." />
      <button type="submit" id="sendbutton" class="search-btn"><div class="fab fa-telegram-plane"></div></button>
    </div>
  </div>
</html>
