<!DOCTYPE html>
<html lang="fr">
  <div class="container register">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Login</span>
      </div>
      <input type="text" id="login" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Password</span>
      </div>
      <input type="text" id="pass" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Confirm Password</span>
      </div>
      <input type="text" id="passbis" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Prenom</span>
      </div>
      <input type="text" id="prenom" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Nom</span>
      </div>
      <input type="text" id="nom" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Email </span>
      </div>
      <input type="text" id="email" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Jour de naissance </span>
      </div>
      <input type="text" id="birthday" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Mois de naissance </span>
      </div>
      <input type="text" id="birthmonth" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Année de naissance </span>
      </div>
      <input type="text" id="birthyear" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" />
    </div>
    <button id="register" type="button" class="btn btn-primary">S'inscrire</button>
  </div>
</html>
