<!DOCTYPE html>
<html lang="fr">
  <div class="containersearch">
    <div class="search-box">
      <input type="text" id="keyword" class="search" placeholder="Chercher un programme" />
      <button type="submit" id="Searchsubmit" class="search-btn"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <div class="radiowrapper">
    <input type="radio" name="select" id="searchnom" />
    <input type="radio" name="select" id="searchcreateur" />
    <label for="searchnom" class="option option-1">
      <span>Par nom</span>
    </label>
    <label for="searchcreateur" class="option option-2">
      <span>Par créateur</span>
    </label>
  </div>
  <div id="my-content-search"></div>
</html>
